@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Josefin+Slab&display=swap');





  h2{
    color:Firebrick;
  }
  body{
    background-color: PowderBlue;
  }

  h2{
    font-family:Serif;
  }

  a{
  text-decoration:None;
  }

  a:hover{
    background-color:Mistyrose;
  }

 .position{
    text-align:center;
  }

  .links{
    color:Mediumvioletred;
  }


.italic{
  font-style:Italic;
}




  address{
    color:Firebrick;
  }

  a:visited{
    color:Purple;
  }

  #fancy{
    font-family:'Josefin Slab',Serif;
  }

  #underline{
    text-decoration:Underline;
  }
  #shadow{
  text-shadow:1px 0 10px Firebrick;
  }

  #teamcolor{
    color:DarkOrange;
  }

  #chips{
    color:Darkgoldenrod;
  }
