@import url('https://fonts.googleapis.com/css?family=Gentium+Basic|Josefin+Slab&display=swap');



  h2{
    color:Cornflowerblue;
  }

  h2{
    font-family:Serif;
  }

  a{
  text-decoration:None;
  }

  a:hover{
    background-color:Red;
  }

 .position{
    text-align:center;
  }

  .links{
    color:Pink;
  }


.italic{
  font-style:Italic;
}




  address{
    color:Red;
  }

  a:visited{
    color:Purple;
  }

  #fancy{
    font-family:'Josefin Slab',Serif;
  }

  #underline{
    text-decoration:Underline;
  }
  #shadow{
  text-shadow:#FC0 1px 0 10px;
  }

  #mets{
    color:DarkOrange;
  }

  #chips{
    color:Darkgoldenrod;
  }
